body {
  background-color: #ffffff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}
.header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-underline-position: from-font;
}
.header__links-list {
  display: flex;
  gap: 33px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__links-list-item {
  list-style: circle;
}
.header__link_active {
  text-decoration-line: none;
}
.header__link {
  text-decoration-line: underline;
}
.header__logo {
  justify-content: center;
  width: 148px;
  height: 105px;
}
.header__logo-image {
  display: block;
  height: 100%;
  object-fit: contain;
}
.address {
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: left;
  text-underline-offset: 4px;
}
.header__address {
  justify-self: end;
  max-width: 240px;
}
.cover {
  position: relative;
  z-index: -1;
  min-height: 757px;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  color: #ffffff;
  font-size: 22px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 1000px;
  min-height: 385px;
}
.aligned-text {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.aligned-text_center {
  justify-content: center;
  text-indent: +0.3em;
}
.aligned-text_right {
  justify-content: end;
  margin-right: -0.3em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
  color: #ffffff;
}
.cover__description-text {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18.5px;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  background: transparent;
}
.lots {
  margin: 180px 24px 60px 24px;
}
.lots__heading {
  top: 0;
  margin-left: 40px;
  display: flex;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lots__card-list-item {
  z-index: -1;
  width: 334px;
  min-height: 596px;
  margin-top: 27px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.card-link {
  z-index: 1;
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  z-index: 1;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.card__text {
  z-index: 1;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}
.lots__look-more-link {
  bottom: 0;
  display: flex;
  margin-top: 31px;
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-column-gap: 25px;
  width: 1052px;
  margin: 120px 24px 60px 24px;
}
.about__column__left {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.about__column {
  margin-top: 136px;
  margin-bottom: 13px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 693px;
  margin-top: 99px;
}
.about__text {
  padding-right: 3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 168px;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
}
.address-footer {
  justify-content: left;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: left;
  text-underline-offset: 4px;
}
.footer__menu {
  display: flex;
  justify-content: center;
}
.footer__menu-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}
.footer__menu-list-item {
  list-style: none;
}
.footer__menu-link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.footer__menu-link_active {
  text-decoration-line: none;
}
.footer__social-list {
  display: inline-flex;
  justify-content: end;
  gap: 48px;
}
.footer__social-list-item {
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
